[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
watchdog = "*"
openpyxl = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
xlsxwriter = "*"
langchain-ollama = "*"
langchain-postgres = "*"
sqlalchemy = "*"
pgvector = "*"
langchain-community = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12.6"
