[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
watchdog = "*"
openpyxl = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.10"
